<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ClassRunnerSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7aed93">  <td>24/03/08 22:37:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_2.executor()[pri:0, instance:TestCases.Test_Case_2@7922d892]">executor</td> 
  <td>main@438314766</td>   <td></td> </tr>
<tr bgcolor="9793c7">  <td>24/03/08 22:37:11</td>   <td>-9026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_1.executor()[pri:0, instance:TestCases.Test_Case_1@82ea68c]">executor</td> 
  <td>main@438314766</td>   <td></td> </tr>
</table>
