<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9868b2">  <td>24/03/01 00:17:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_2.executor()[pri:0, instance:TestCases.Test_Case_2@65b104b9]">executor</td> 
  <td>main@534666530</td>   <td></td> </tr>
<tr bgcolor="907a8c">  <td>24/03/01 00:17:57</td>   <td>8748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_1.executor()[pri:0, instance:TestCases.Test_Case_1@338c99c8]">executor</td> 
  <td>main@534666530</td>   <td></td> </tr>
</table>
