<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAnnotationExampleTSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9793c7">  <td>24/03/08 22:37:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Annotation_RestAssured_Example.validator()[pri:0, instance:TestCases.TestNG_Annotation_RestAssured_Example@457c9034]">validator</td> 
  <td>main@1677458155</td>   <td></td> </tr>
<tr bgcolor="9793c7">  <td>24/03/08 22:37:51</td>   <td>-2183</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Annotation_RestAssured_Example.testSetup()[pri:0, instance:TestCases.TestNG_Annotation_RestAssured_Example@457c9034]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1677458155</td>   <td></td> </tr>
<tr bgcolor="9793c7">  <td>24/03/08 22:38:01</td>   <td>6985</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Annotation_RestAssured_Example.evidenceCreator()[pri:0, instance:TestCases.TestNG_Annotation_RestAssured_Example@457c9034]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1677458155</td>   <td></td> </tr>
<tr bgcolor="fadaff">  <td>24/03/08 22:38:02</td>   <td>8047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestnNG_DataProvider_SameClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestCases.TestnNG_DataProvider_SameClass_RestAssured@60129b9a]">validator</td> 
  <td>main@1677458155</td>   <td></td> </tr>
<tr bgcolor="fadaff">  <td>24/03/08 22:38:02</td>   <td>8047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestnNG_DataProvider_SameClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestCases.TestnNG_DataProvider_SameClass_RestAssured@60129b9a]">validator</td> 
  <td>main@1677458155</td>   <td></td> </tr>
<tr bgcolor="7f7693">  <td>24/03/08 22:38:01</td>   <td>7113</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_DifferentClass_RestAssured.testSetup()[pri:0, instance:TestCases.TestNG_DataProvider_DifferentClass_RestAssured@78d6692f]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1677458155</td>   <td></td> </tr>
<tr bgcolor="fadaff">  <td>24/03/08 22:38:01</td>   <td>7116</td> <td>&nbsp;</td><td title="&gt;&gt;TestnNG_DataProvider_SameClass_RestAssured.testSetup()[pri:0, instance:TestCases.TestnNG_DataProvider_SameClass_RestAssured@60129b9a]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1677458155</td>   <td></td> </tr>
<tr bgcolor="7f7693">  <td>24/03/08 22:38:03</td>   <td>9422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestCases.TestNG_DataProvider_DifferentClass_RestAssured@78d6692f]">validator</td> 
  <td>main@1677458155</td>   <td></td> </tr>
<tr bgcolor="7f7693">  <td>24/03/08 22:38:03</td>   <td>9422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestCases.TestNG_DataProvider_DifferentClass_RestAssured@78d6692f]">validator</td> 
  <td>main@1677458155</td>   <td></td> </tr>
<tr bgcolor="fadaff">  <td>24/03/08 22:38:04</td>   <td>10127</td> <td>&nbsp;</td><td title="&lt;&lt;TestnNG_DataProvider_SameClass_RestAssured.evidenceCreator()[pri:0, instance:TestCases.TestnNG_DataProvider_SameClass_RestAssured@60129b9a]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1677458155</td>   <td></td> </tr>
<tr bgcolor="7f7693">  <td>24/03/08 22:38:04</td>   <td>10126</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_DifferentClass_RestAssured.evidenceCreator()[pri:0, instance:TestCases.TestNG_DataProvider_DifferentClass_RestAssured@78d6692f]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1677458155</td>   <td></td> </tr>
</table>
