<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ParallelRunnerSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9793c7">  <td>24/03/08 22:36:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_1.executor()[pri:0, instance:TestCases.Test_Case_1@1115ec15]">executor</td> 
  <td>TestNG-tests-1@676111167</td>   <td></td> </tr>
<tr bgcolor="80bdbd">  <td>24/03/08 22:36:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_2.executor()[pri:0, instance:TestCases.Test_Case_2@106cc338]">executor</td> 
  <td>TestNG-tests-2@781825236</td>   <td></td> </tr>
</table>
